.container {
  width: 1140px;
  margin: 0 auto;
}
.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#datVe .hang {
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#datVe .hangTitle {
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#datVe .hangTitle .hangTitleItem {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
  margin-right: 5px;
}
#datVe .hangTitle .soGhe {
  height: 40px;
  width: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  background-color: blueviolet;
  color: white;
  margin: 0 5px;
}
#datVe .hang .soGheDaChon {
  background-color: yellow;
  border-radius: 5px;
  color: white;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  line-height: 40px;
}
#datVe .hang .soGheDaDat {
  background-color: red;
  border-radius: 5px;
  color: white;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  line-height: 40px;
}

#datVe .hang .hangItem {
  height: 40px;
  width: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: blueviolet;
  color: white;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
}
#datVe .hang button {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
#datVe .hang button:hover {
  background-color: green;
  border: 1px solid green;

  color: white;
}
#manHinh {
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: aquamarine;
  color: red;
  text-align: center;
  margin: 20px auto;
}
